<div class="page">
  <div class="container">
    @if(bit$ | async;as bit) {
    <h1>{{ bit.name }}</h1>

    <!-- TASK:03: display list of bit ingredients (bit.ingredients is an array of name, id, and quantity),
        when clicking on one, display the details in a child component here (name it details.partial) -->

    <!-- TASK:04: display taste, make it capitalized  -->
    <!-- TASK:04 add a delete button for this bit  -->
    <!-- TASK:04 add a delete button for this bit  -->
    <div class="space">
      <button class="btn" (click)="deleteBit(bit)">Delete</button>
    </div>

    <div class="row">
      <div class="col-6">
        <!-- TASK:05 move this to its new component for ingredients/details.partial -->
        <h4>Ingredients</h4>
        <dm-ingredient-list
          [id]="bit.id"
          (onSelect)="getIngredient($event)"
        ></dm-ingredient-list>
      </div>
      <div class="col-6">
        <!-- TASK:05 move this to its new component for ingredients/details.partial -->
        <!-- <ng-container *ngIf="selectedIngredient$ | async as ingredient">
          <dm-ingredient-details
         
            (onDelete)="deleteIngredient(ingredient)"
          ></dm-ingredient-details>
        </ng-container> -->
        <router-outlet name='bitRouter'></router-outlet>

      </div>
    </div>
    }
  </div>
</div>
