// add global stylse

// TASK:01: add style to contain the main page in 1200 px maximum wide

// TASK:02 turn these into sass variables

// TASK:04: move to vars.scss file

@import "vars";

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav ul li:last-child {
  margin-left: auto;
}

// TASK:04: redefine "a" to have color and pointer

a {
  cursor: pointer;
  color: $brown;
}

.text-bold {
  font-weight: bold;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.pointer {
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

// TASK:01: add body font, use google fonts to choose a font

// TASK:03: create a simple two column flex or grid box, and use in details.component.html
// to split the screen to two parts: left: list of stuff, right: the details.partial of the selected item

.row {
  display: flex;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.column-direction {
  flex-direction: column;
}

// TASK:03: add media query to make the top two colum into one 100% column on small screens (one query is enough)
@media only screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .col-6 {
    width: 100%;
  }
}

.space {
  margin-block-end: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: $green;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($green, 10%);
  }
}

.btn-a {
  padding: 0;
  margin-inline: 0.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.border-red {
  border-color: $red;
}
