// add global stylse

// TASK:01: add style to contain the main page in 1200 px maximum wide

body {
max-width: 1200px;
margin: 0 auto;
font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal

}
.greenMsg{
    color:green;
}
.redMsg{
    color:red;
}
// TASK:01: add body font, use google fonts to choose a font


// TASK:02 turn these into sass variables
.red {
    color: red;
  }
  .green {
    color: green;
  }
  