<div class="page">
       <div class="container">
         <!-- wait till piece is available -->
         @if(piece$ | async; as piece) {
           <h1>{{ piece.name }}</h1>
           <!-- TASK:03: display list of piece segments (piece.segments is an array of name, id, from, to)
           when clicking on name, display the segment in a child component here (name it details.partial) -->
     
           <div class="row">
             <div class="col-6">
               <h4>Segments</h4>
               <ul>
                 <li *ngFor="let segment of piece.segments">
                   <a (click)="displayDetails(segment)">{{ segment.name }}</a>
                 </li>
               </ul>
             </div>
             <div class="col-6">
               <dm-piece-details [segment]="selectedSegment"></dm-piece-details>
             </div>
     
           </div>
         }
       </div>
     </div>
     