<!-- always check model is availabel -->
@if(segment$|async; as segment) {
<div>
  <h5>{{ segment.name }}</h5>
  <!-- TASK:04: from and to are time in 24 format, change to 12 format, create a pipe for that.-->

  <p>{{ segment.from|halfDayFormat }} - {{ segment.to|halfDayFormat }}</p>
</div>

<!-- TASK:04: add a reactive form, name, from and to (keep it simply, numbers or strings)
      save action edits with id
      then it edit, refresh main list of ingredients
      remember, there is only one REST method: PUT /api/pieces/:id
      also notify the notification partial in the root with "Done" -->
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <label for="name">Segment Name: </label>
  <input type="text" formControlName="name">

  <br>
  <label for="From">from: </label>
  <input type="text" formControlName="from">

  <br>
  <label for="to">To: </label>
  <input type="text" formControlName="to">
  <br>
  <button type="submit" [disabled]="!editForm.valid">Edit </button>

</form>

}