<form [formGroup]="segmentForm" (ngSubmit)="saveSegment()">
    <div class="box">
      <label for="name">Name</label>
      <input
        type="text"
        [class.border-red]="segmentForm.controls['name'].errors"
        class="w100"
        formControlName="name"
        id="name"
      />
    </div>
    <div class="row">
      <div class="col-6 box">
        <label for="from">From</label>
        <input type="text" class="w100" formControlName="from" id="from" />
      </div>
      <div class="col-6 box">
        <label for="to">To</label>
        <input type="text" class="w100" formControlName="to" id="to" />
      </div>
    </div>
    <button type="submit" class="btn">Save</button>
  </form>