<main class="main">
  <div class="content">
    <h1>The dome</h1>

    <!--  TASK:01: add style for navigation to make them appear on the same line -->
    <nav>
      <ul>
        <!-- TASK:01: link to /bits and /pieces-->
        <!-- TASK:02 add another link for Account profile, aligned to the right. Without any links -->
        <!-- TASK:04: make the selected link bold (pass a class name) -->

        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/bits">Bits</a></li>
        <li><a routerLink="/pieces">Pieces</a></li>
        <li><a routerLink="">Account profile</a></li>

      </ul>
    </nav>
    <div class="row  space-between">
      <!-- TASK:01 add a message here, if time is < 12:00 show Good morning, else show Good afternoon. Make it green with first message, red with second message-->
      <dm-greeting></dm-greeting>

      <!-- TASK:04: add a notification component to display the Done message(like a toast)
    align it to the right on the same level of greeting message -->
      <!-- <dm-notification class="align-right" msg="hello"></dm-notification> -->
    </div>
  </div>
</main>


<router-outlet />